.account-setting-page {
  --text-color: #fff;
  --background-form-color: #343a40;

  font-family: var(--font-family);
  color: var(--text-color-dark);

  .setting-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    margin-bottom:24px ;
    border: 1px solid var(--color-line);
    border-radius: 16px;
    &-title {
      font-size: 24px;
      font-weight: 600;
      line-height: 32px;
    }
    &-item {
      display: flex;
      align-items: center;
      gap: 40px;
    }
    &-item-child {
      display: flex;
      flex-basis: 50%;
      .profile-img-name {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        border-radius: 8px;
        background-color: rgb(70 83 200/ 1) ;
      }
    }
    h3 {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
    }
    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }
    a{
      font-size: 14px;
      font-weight: 400 ;
        line-height: 22px ;
        text-decoration: underline;
        text-decoration-style: solid ;
        text-underline-offset: 2px ;
        color: var(--color-text-link);
    }
  }
  button {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    border-radius: 6px;
    padding: 0 12px;
    height: 32px;
    min-height: 32px;
    min-width: 96px;
    background-color: var(--color-line);
    color: var(--color-primary-text);
  }
}
