.channel-information-page {
  h5 {
    font-size: 20px;
  }
  .flex-align {
    display: flex;
    align-items: center;
  }

  .ant-card {
    background-color: #343a40;
    color: #fff;
    margin-bottom: 16px;
    .ant-card-head-title {
      font-size: 18px;
    }
    .ant-row {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    .ant-col {
      padding: 0 7px;
    }
    .col-child {
      font-size: 16px;
      background-color: #3f474e;
      border-radius: 0.25rem;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      border-left: 5px solid #e9ecef;
      padding: 16px;
    }

    .border-red {
      border-color: #ed7669;
    }
    .border-blue {
      border-color: #5faee3;
    }
    .border-yellow {
      border-color: #f5b043;
    }
    .border-green {
      border-color: #00efb2;
    }
  }
  .link-document {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    font-size: 24px;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
  }
  .line-blue {
    height: 7px;
    background-color: #17a2b8;
    width: 100%;
  }
  .line-yellow {
    height: 7px;
    background-color: #ffc107;
    width: 100%;
  }
  .link-icon {
    color: #007bff;
    margin-left: 4px;
  }
  .check-icon {
    margin-right: 10px;
  }
}
